body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

*{
  box-sizing: border-box;
}

.nav--bar{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo{
  margin-left: 40px;
}

.button--navbar{
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 40px;
  font-size: 0.6rem;
}

.section{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}


.section--first-container{
  width: 360px;
  margin-left: 15%;
}

.section h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 10% 0;
}

.first h1{
  font-size: 10rem;
  line-height: 8rem;
  margin: 10% 0;
}


.button--hero{
  background: #F2CE6E;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  font-weight: bold;
}

.second{
  justify-content: flex-end;
  position: relative;
}

.section--second-container{
  width: 360px;
  margin-right: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-15%);
  z-index: 1;
}

.custom--bg{
  width: 100%;
  height: 800px;
  background: #F2CE6E;
  -webkit-transform: skew((20deg));
  -moz-transform: skew((20deg));
  -o-transform: skew(20deg);
  transform: skew(20deg) rotate(21deg);
  position: absolute;
  top: 20%;
  left: 0;
}

.third{
  position: relative;
}

.section--third-container{
  width: 360px;
  margin-left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button--customize{
  background: #F2CE6E;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  font-weight: bold;
}

footer{
  width: 100vw;
  height: 100px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  background: white;
  color: black;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 0.6rem;
  font-weight: bold;
}


#webgi-canvas {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: fixed;
  top: 0;
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  
}

.button--exit{
  background: #F2CE6E;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  font-weight: bold;
  width: 90px;
  margin-bottom: 5%;
  z-index: 5;
  /* display: none; */
}
